/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
  background: url('img/scrolltop-3.png') no-repeat left top;
  background-size: 72px;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  right: 20px;
  overflow: hidden;
  width: 72px;
  height: 72px;
  border: none;
  /*opacity: 0.5;*/
  font-size: 0;
  line-height: 0;
  z-index: 255;
}

#toTopHover {
  display: none;
}

#toTop:hover {
  background-image: url('img/scrolltop-3-hover.png');
  outline: none;
  opacity: 1;
}