@import "../plugins/bootstrap/css/bootstrap.min.css";
@import "../plugins/ui/totop/ui.totop.css";
@import "../plugins/fancyBox/source/jquery.fancybox.css";
@import "animate.css";

/**
 * Vars
 *//**
 * Fonts
 */
@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-ExtraBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-ExtraBoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-BoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-Semibold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-SemiboldItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/opensans/OpenSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

/**
 * Defaults
 */
ul {
  padding: 0;
}

ul,
li {
  list-style: none;
}

ul,
form,
label {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
}

strong {
  font-weight: 500;
}

label {
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

a:focus {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #000;
}

a:hover {
  color: #0b89d9;
  cursor: pointer;
  text-decoration: underline;
}

a:focus,
.btn:focus,
select:focus {
  outline: none;
}

input.form-control,
textarea.form-control {
  box-shadow: none;
  outline: 0 none;
  padding: 16px 20px 16px 54px;
  border-radius: 0;
  color: #000;
}

input.form-control:focus,
textarea.form-control:focus {
  border-color: #b1bfc3;
  box-shadow: none;
  outline: 0 none;
  padding: 16px 20px 16px 54px;
  color: #000;
}

input.form-control.error,
textarea.form-control.error,
input.form-control.error:focus,
textarea.form-control.error:focus {
  border-color: #ff0000;
}

/**
 * Base
 */
body {
  font: 15px/22px 'Open Sans', sans-serif;
  color: #000;
}

body strong {
  font-weight: 500;
}

.container {
  width: 980px;
  padding: 0;
}

.btn-custom {
  background-color: #ffcb08;
  border-radius: 0;
  color: #000;
  font-size: 14px;
  height: 60px;
  line-height: 46px;
  width: 244px;
  text-transform: uppercase;
}

.btn-custom:hover {
  background-color: #dee9ed;
  color: #000;
}

/**
 * Header
 */
header.site-header {
  border-bottom: 1px solid #dbdbdb;
  height: 134px;
}

.topbar {
  background: #dee9ed;
  height: 49px;
  overflow: hidden;
  font-size: 15px;
  line-height: 24px;
  padding: 11px 0 0;
}

.header-el {
  height: 24px;
}

.header-logo {
  display: block;
  float: left;
  margin: 24px 0 0 0;
}

.header-mail {
  background: url('img/header-mail.png') no-repeat left center;
  padding: 0 0 0 27px;
  float: left;
  display: block;
  margin-left: 12px;
}

.header-phone {
  margin: 0 0 0 86px;
  float: left;
}

.header-phone li {
  float: left;
}

.header-phone__1 {
  background: url('img/header-phone.png') no-repeat left center;
  padding: 0 14px 0 27px;
}

.header-phone__2 {
  padding: 0 0 0 14px;
}

.header-callback {
  background: url('img/header-callback.png') no-repeat left center;
  padding: 0 0 0 42px;
  height: 30px;
  margin: 0 16px 0 0;
  float: right;
  display: block;
  text-decoration: underline;
}

.main-navigation {
  width: 650px;
  float: right;
}

.main-navigation ul {
  display: table;
  width: 100%;
}

.main-navigation li {
  display: table-cell;
  border-left: 1px solid #dbdbdb;
}

.main-navigation li:last-child {
  border-right: 1px solid #dbdbdb;
}

.main-navigation li > a {
  width: 100%;
  min-width: 72px;
  height: 84px;
  display: block;
  text-align: center;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 28px 0 0;
  border-top: 4px solid transparent;
}

.main-navigation li > a:hover {
  background-color: #dee9ed;
  border-color: #ffcb08;
  text-decoration: none;
}

.main-navigation li.current-menu-item a {
  border-color: #ffcb08;
}

/**
 * Home page
 */
.home-block-2 {
  background-color: #f3fafd;
}

.home-block-2 .home-text {
  background: url('img/home-img-01.png') no-repeat left 60px;
  overflow: hidden;
  padding: 110px 10px 60px 260px;
}

.home-block-2 .home-text p {
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 28px;
}

.home-col {
  overflow: hidden;
  padding: 14px 0 0;
}

.home-col__i {
  float: left;
  font-size: 15px;
  line-height: 22px;
  padding: 214px 18px 72px;
  text-align: center;
  width: 25%;
}

.home-col__1 {
  background: url('img/home-col-1.png') no-repeat center top;
}

.home-col__2 {
  background: url('img/home-col-2.png') no-repeat center top;
}

.home-col__3 {
  background: url('img/home-col-3.png') no-repeat center top;
}

.home-col__4 {
  background: url('img/home-col-4.png') no-repeat center top;
}

.header-block {
  background: url('img/bg/home-space.png') no-repeat left top;
  min-height: 320px;
  padding: 58px 0 0;
}

.home-block-4 {
  background-color: #f3fafd;
}

.home-block-6 {
  background-color: #f3fafd;
}

.home-order,
.page-order {
  overflow: hidden;
  padding: 70px 0 60px;
}

.form-order,
.comment-form {
  margin: 40px auto 0;
  width: 576px;
}

.form-order label,
.comment-form label {
  display: block;
  margin: 0 0 16px;
}

.form-order input,
.comment-form input,
.form-order textarea,
.comment-form textarea {
  background-color: #f3fafd;
  border-color: #f3fafd;
  background-repeat: no-repeat;
  width: 100%;
}

.form-order input:focus,
.comment-form input:focus,
.form-order textarea:focus,
.comment-form textarea:focus {
  background-color: #fff;
  border-color: #b1bfc3;
}

.form-order input[type=text],
.comment-form input[type=text] {
  background-position: 18px center;
  height: 59px;
}

.form-order input[name=author],
.comment-form input[name=author] {
  background-image: url('img/form/name.png');
}

.form-order input[name=phone],
.comment-form input[name=phone] {
  background-image: url('img/form/phone.png');
}

.form-order input[name=mail],
.comment-form input[name=mail] {
  background-image: url('img/form/email.png');
}

.form-order input[name=city],
.comment-form input[name=city] {
  background-image: url('img/form/city.png');
}

.form-order textarea,
.comment-form textarea {
  background-image: url('img/form/text.png');
  background-position: 18px 18px;
  height: 200px;
  resize: none;
}

.form-order .btn-custom,
.comment-form .btn-custom {
  display: block;
  margin: 38px auto 0;
}

.form-order ::-webkit-input-placeholder,
.comment-form ::-webkit-input-placeholder {
  color: #000;
}

.form-order ::-moz-placeholder,
.comment-form ::-moz-placeholder {
  color: #000;
}

.form-order :-moz-placeholder,
.comment-form :-moz-placeholder {
  color: #000;
}

.form-order :-ms-input-placeholder,
.comment-form :-ms-input-placeholder {
  color: #000;
}

.home-video {
  overflow: hidden;
  padding: 70px 0 60px;
  text-align: center;
}

.home-video iframe {
  margin: 16px 0 0;
}

.number-block {
  overflow: hidden;
  padding: 70px 0 0;
}

.number-lst {
  overflow: hidden;
  padding: 32px 0 46px;
}

.number-lst__i {
  float: left;
  width: 33.33%;
  padding: 0 0 10px;
  height: 250px;
}

.number-lst__an {
  float: left;
  width: 25%;
}

.number-lst__tx {
  float: left;
  padding: 0 30px 0 20px;
  width: 75%;
}

.number-lst__tx span {
  display: block;
  font-size: 50px;
  font-weight: 300;
  line-height: 64px;
  padding: 0 0 24px;
}

.number-lst__tx p {
  font-size: 15px;
  line-height: 22px;
}

.linebox {
  overflow: hidden;
  padding: 48px 0 0;
}

.linebox.linebox_1 {
  padding-top: 148px;
}

.linebox .box-animate {
  margin: -7px 0 0;
}

.linebox h2,
.linebox h3,
.linebox h4 {
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 48px;
}

.linebox h2 span,
.linebox h3 span,
.linebox h4 span {
  border: 2px solid #ffcb08;
  color: #ffcb08;
  border-radius: 50%;
  display: block;
  float: left;
  height: 48px;
  margin: -7px 22px 0 0;
  padding: 5px 0 0;
  text-align: center;
  width: 48px;
}

.linebox p {
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 70px;
}

.linebox__sm-l {
  float: left;
  width: 26%;
  padding: 0 0 0 20px;
}

.linebox__lg-r {
  float: right;
  width: 74%;
  padding: 0 10px 0 0;
}

.linebox__sm-r {
  float: right;
  width: 26%;
  text-align: right;
  padding: 0 32px 0 0;
}

.linebox__sm-r .box-animate {
  float: right;
}

.linebox__lg-l {
  float: left;
  width: 74%;
  padding: 0 0 0 20px;
}

.box-animate {
  width: 82px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.animate-el {
  background-color: #ffcb08;
  border-radius: 50%;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.animate-el i {
  color: #fff;
  display: block;
  font-size: 52px;
  height: 1em;
  left: 50%;
  line-height: 1em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
  width: 1em;
}

.box-animate.box-animate_2 {
  width: 160px;
}

.box-animate.box-animate_2 .animate-el {
  background-color: transparent;
  border: 3px solid #ffcb08;
}

.box-animate.box-animate_2 .animate-el i {
  font-size: 132px;
}

.animate-hook {
  padding-top: 100%;
}

.animate-icon_1 {
  background: url('img/icons/home-label-01.png') no-repeat center center;
}

.animate-icon_2 {
  background: url('img/icons/home-label-02.png') no-repeat center center;
}

.animate-icon_3 {
  background: url('img/icons/home-label-03.png') no-repeat center center;
}

.animate-icon_4 {
  background: url('img/icons/home-label-04.png') no-repeat center center;
}

.animate-icon_5 {
  background: url('img/icons/home-label-05.png') no-repeat center center;
}

.animate-icon_6 {
  background: url('img/icons/home-label-06.png') no-repeat center center;
}

.animate-icon_7 {
  background: url('img/icons/home-label-07.png') no-repeat center center;
}

.animate-icon_8 {
  background: url('img/icons/home-label-08.png') no-repeat center center;
}

.animate-icon_9 {
  background: url('img/icons/home-label-09.png') no-repeat center center;
}

.custom-title {
  font-size: 35px;
  line-height: 46px;
  margin: 0 0 30px;
  padding: 0;
  font-weight: 400;
}

.custom-title.custom-title_2 {
  background: url('img/bg/custom-title.jpg') no-repeat center bottom;
  text-align: center;
  margin: 0;
  padding: 0 0 30px;
}

.checkout-block {
  margin: -4px 0 0;
  overflow: hidden;
}

.checkout-block .btn-custom {
  float: left;
}

.checkout-block.checkout-block_2 {
  padding: 0 0 58px 260px;
}

.checkout-block__cost {
  float: left;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  padding: 6px 50px 0 0;
}

/**
 * Cyclone Slider
 */
.cycloneslider {
  height: 478px;
}

.cycloneslider-template-default .cycloneslider-caption {
  background: none;
  left: auto;
  right: 100px;
  top: 85px;
  width: 380px;
}

.cycloneslider-template-default .cycloneslider-caption-title {
  color: #fff;
  font-size: 30px;
  line-height: 42px;
  padding: 0 0 25px;
}

.cycloneslider-template-default .cycloneslider-caption-title a {
  display: block;
  color: #fff;
}

.cycloneslider-template-default .cycloneslider-caption-title a:hover {
  text-decoration: underline;
  color: #0b89d9;
}

.cycloneslider-template-default .cycloneslider-caption-description {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  padding: 0;
}

.cycloneslider-template-default .cycloneslider-caption-description a.btn-custom {
  margin: 30px 0 0;
}

.cycloneslider-template-default .cycloneslider-prev,
.cycloneslider-template-default .cycloneslider-next {
  background-image: url('img/bg/arrows.png');
  background-repeat: no-repeat;
  height: 58px;
  margin-top: -28px;
  transition: none 0s ease 0s;
  width: 58px;
}

.cycloneslider-template-default .cycloneslider-prev {
  background-position: left top;
  left: 20px;
}

.cycloneslider-template-default .cycloneslider-prev:hover {
  background-position: left bottom;
}

.cycloneslider-template-default .cycloneslider-next {
  background-position: right top;
  right: 20px;
}

.cycloneslider-template-default .cycloneslider-next:hover {
  background-position: right bottom;
}

.cycloneslider-template-default .cycloneslider-pager {
  bottom: 14px;
  right: 0;
  text-align: center;
  top: auto;
  width: 100%;
}

.cycloneslider-template-default .cycloneslider-pager span {
  background-color: #bfc4c4;
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
}

.cycloneslider-template-default .cycloneslider-pager span.cycle-pager-active {
  background-color: #fff;
}

/**
 * Breadcrumbs
 */
.breadcrumbs {
  color: #000;
  font-size: 13px;
  height: 44px;
  line-height: 20px;
  overflow: hidden;
  padding: 12px 0 0;
}

.breadcrumbs a {
  color: #000;
  margin: 0 4px 0 0;
}

.breadcrumbs a:hover {
  color: #1f4ea2;
}

.breadcrumbs > span > span {
  margin: 0 0 0 4px;
}

.breadcrumbs > span > span:first-child {
  margin-left: 0;
}

.breadcrumbs .breadcrumb_last {
  color: #8a8a8a;
}

/**
 * Pages
 */
article .entry-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 14px 0 42px;
  text-align: center;
}

article .entry-content {
  font-size: 15px;
  line-height: 25px;
}

article .entry-content p {
  margin: 0 0 30px;
}

article .entry-content ul {
  margin: 0 0 30px;
}

article .entry-content ul li {
  list-style: disc inside none;
}

article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 0 36px;
}

/**
 * Footer
 */
footer.site-footer {
  border-top: 1px solid #dbdbdb;
  margin-top: 40px;
}

.footer-logo {
  display: block;
  margin: 48px 0 26px;
}

.footer-top {
  height: 250px;
  overflow: hidden;
  text-align: center;
}

.footer-info {
  font-size: 16px;
  line-height: 28px;
  padding: 0 0 26px;
}

.copyright {
  font-size: 13px;
  line-height: 22px;
}

.footer-bottom {
  background: #f3fafd;
  font-size: 13px;
  height: 72px;
  line-height: 22px;
  padding: 24px 0 0;
}

.design-bureau {
  float: left;
}

.sub-navigation {
  float: right;
}

.sub-navigation li {
  float: left;
  margin: 0 0 0 6px;
}

.sub-navigation li:before {
  content: "|";
}

.sub-navigation li:first-child:before {
  content: "";
}

.sub-navigation li a {
  margin: 0 0 0 6px;
}

/**
  * Gallery
  */
.gallery-item {
  float: left;
  margin: 0 14px 14px 0;
}

.gallery-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-item a {
  display: block;
  border: 1px solid #e4e4e4;
  position: relative;
}

.gallery-item a span {
  background: url('img/bg/gallery-hover.png') no-repeat center center;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.gallery-item a:hover {
  border-color: #b5c2c6;
}

.gallery-item a:hover span {
  display: block;
}

.logged-in-as {
  margin: 0 0 16px;
}

.logged-in-as a {
  text-decoration: underline;
}

.comments-area .comment-reply-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 49px;
  text-align: center;
}

.comments-area .comment-reply-title a {
  text-decoration: underline;
}

.comments-area ol {
  border-bottom: 1px solid #dbdbdb;
  padding: 0;
}

.comments-area li {
  border-top: 1px solid #dbdbdb;
  overflow: hidden;
  padding: 27px 0;
}

.comments-area li:first-child {
  border-top: 0;
}

.comments-area .comment-avatar,
.comments-area .comment-author,
.comments-area .comment-city {
  float: left;
}

.comments-area .comment-author {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  padding: 25px 0 0 25px;
  width: 905px;
}

.comments-area .comment-city {
  font-size: 14px;
  line-height: 20px;
  padding: 16px 0 0 25px;
  width: 790px;
}

.comments-area .comment-date {
  font-size: 14px;
  float: right;
  line-height: 20px;
  padding-top: 16px;
  /*width: 115px;*/
}

.comments-area .comment-content {
  float: left;
  padding: 30px 0 0 96px;
  width: 100%;
}

.comments-area .reply {
  float: left;
  padding: 28px 0 0 96px;
}

.comments-area .children {
  float: left;
}

.comments-area .children li {
  border-top: 0;
  padding-left: 100px;
  padding-bottom: 0;
}

.comments-area .children .comment-author {
  width: 805px;
}

.comments-area .children .comment-city {
  width: 690px;
}

.comments-help-area .comment-reply-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 49px;
  text-align: center;
}

.comments-help-area .comment-reply-title a {
  text-decoration: underline;
}

.comments-help-area ol {
  border-bottom: 1px solid #dbdbdb;
  padding: 0;
}

.comments-help-area li {
  border-top: 1px solid #dbdbdb;
  padding: 27px 0 30px 0;
  overflow: hidden;
}

.comments-help-area li:first-child {
  border-top: 0;
}

.comments-help-area li.byuser {
  border-top: 0;
  padding: 0;
}

.comments-help-area li.byuser .comment-avatar,
.comments-help-area li.byuser .comment-author {
  display: none;
}

.comments-help-area li.byuser .comment-content {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

.comments-help-area li.byuser .comment-content {
  line-height: 24px;
  padding: 0 0 45px 96px;
}

.comments-help-area li.byuser .comment-meta {
  display: none;
}

.comments-help-area .comment-avatar,
.comments-help-area .comment-author,
.comments-help-area .comment-content,
.comments-help-area .comment-city,
.comments-help-area .comment-meta {
  float: left;
}

.comments-help-area .comment-avatar {
  margin-bottom: 25px;
}

.comments-help-area .comment-content {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  padding: 25px 0 0 25px;
  width: 905px;
}

.comments-help-area .comment-meta {
  font-size: 14px;
  line-height: 18px;
  padding: 30px 0 0 25px;
}

.comments-help-area .comment-author {
  border-right: 1px solid #000;
  padding-right: 10px;
  margin-right: 10px;
}

.comments-filter {
  background-color: #f3fafd;
  height: 59px;
  padding: 6px 8px;
}

.comments-filter input {
  border: 1px solid transparent;
  font-size: 14px;
  height: 47px;
  line-height: 22px;
  padding: 0 24px;
  width: 638px;
}

.comments-filter input.form-control:focus {
  border: 1px solid #b1bfc3;
  padding: 0 24px;
}

.comments-filter .per-to-page {
  float: right;
}

.comments-filter .per-to-page span {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
}

.comments-filter .per-to-page select {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
  height: 26px;
  line-height: 24px;
  margin: 12px 22px 0 0;
  padding: 0 10px;
  width: 70px;
  box-shadow: none;
}

.comments-filter .per-to-page select:focus {
  box-shadow: none;
  border-color: #b1bfc3;
}

.comment-respond {
  margin: 70px auto 0;
  width: 576px;
}

.comment-respond.comment-respond__2 {
  margin-top: 40px;
}

.comment-respond .custom-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 46px;
  margin: 0 0 30px;
  padding: 0;
}

.comment-respond label {
  display: block;
  margin: 0 0 16px;
}

.comment-respond input,
.comment-respond textarea {
  background-color: #f3fafd;
  border-color: #f3fafd;
  background-repeat: no-repeat;
  width: 100%;
}

.comment-respond input:focus,
.comment-respond textarea:focus {
  background-color: #fff;
}

.comment-respond input {
  background-position: 18px center;
  height: 59px;
}

.comment-respond input[name=name] {
  background-image: url('img/form/name.png');
}

.comment-respond input[name=phone] {
  background-image: url('img/form/phone.png');
}

.comment-respond input[name=mail],
.comment-respond input[name=email] {
  background-image: url('img/form/email.png');
}

.comment-respond textarea {
  background-image: url('img/form/text.png');
  background-position: 18px 18px;
  height: 200px;
  resize: none;
}

.comment-respond .btn-custom {
  background-color: #ffcb08;
  border-color: transparent;
  display: block;
  height: 60px;
  margin: 38px auto 5px;
  width: 244px;
}

.comment-respond .btn-custom:hover, .comment-respond .btn-custom:focus {
  background-color: #dee9ed;
  color: #000;
}

.comment-respond ::-webkit-input-placeholder {
  color: #000;
}

.comment-respond ::-moz-placeholder {
  color: #000;
}

.comment-respond :-moz-placeholder {
  color: #000;
}

.comment-respond :-ms-input-placeholder {
  color: #000;
}

.pagination-list {
  margin-top: 30px;
  overflow: hidden;
  text-align: center;
}

.pagination-list .pagination-list__1 {
  float: left;
  width: 930px;
}

.pagination-list .pagination-list__2 {
  float: right;
}

.pagination-list .page-numbers {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.pagination-list a:hover {
  background: url("img/bg/paginate-number-hover.jpg") no-repeat center center;
  color: #000000;
  text-decoration: none;
}

.pagination-list .current {
  background: url("img/bg/paginate-number.jpg") no-repeat center center;
}

.pagination-list .first {
  background: url("img/bg/paginate-first.jpg") no-repeat center center;
  float: left;
}

.pagination-list .first:hover {
  background: url("img/bg/paginate-first-hover.jpg") no-repeat center center;
}

.pagination-list .prev {
  background: url("img/bg/paginate-prev.jpg") no-repeat center center;
  float: left;
}

.pagination-list .prev:hover {
  background: url("img/bg/paginate-prev-hover.jpg") no-repeat center center;
}

.pagination-list .next {
  background: url("img/bg/paginate-next.jpg") no-repeat center center;
  float: right;
}

.pagination-list .next:hover {
  background: url("img/bg/paginate-next-hover.jpg") no-repeat center center;
}

.pagination-list .last {
  background: url("img/bg/paginate-last.jpg") no-repeat center center;
  float: right;
}

.pagination-list .last:hover {
  background: url("img/bg/paginate-last-hover.jpg") no-repeat center center;
}

#modal_form {
  display: none;
  left: 38%;
  margin-top: -150px;
  opacity: 0;
  padding: 0;
  position: fixed;
  top: 45%;
  width: 520px;
  z-index: 300;
}

#modal_form .modal-title {
  background: #ffd846;
  border: 0;
  box-shadow: 0;
  border-radius: 0;
  height: 90px;
  font-size: 30px;
  line-height: 42px;
  padding-top: 25px;
  text-align: center;
  outline: none;
  width: 100%;
}

#modal_form .modal-content {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  line-height: 25px;
  min-height: 150px;
  padding: 50px 10px;
  text-align: center;
}

/* Кнопка закрыть для тех кто в танке) */
#modal_form #modal_close {
  background: url("img/bg/modal-close.jpg");
  cursor: pointer;
  display: block;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
}

/* Подложка */
#overlay {
  z-index: 299;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.order-description {
  font-size: 16px;
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
}

.form-callback input[type=text] {
  box-shadow: none;
  background-color: #f3fafd;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position: 18px center;
  height: 59px;
  outline: 0 none;
  padding-left: 20px;
  padding-right: 5px;
}

.form-callback input[type=text]:focus {
  background-color: #fff;
  border-color: #b1bfc3;
}

.form-callback input[type=text].error {
  border-color: red;
}

.form-callback input[name=name] {
  margin-right: 15px;
}

.form-callback input[name=submit] {
  margin-top: 38px;
}

.form-callback ::-webkit-input-placeholder {
  color: #000;
}

.form-callback ::-moz-placeholder {
  color: #000;
}

.form-callback :-moz-placeholder {
  color: #000;
}

.form-callback :-ms-input-placeholder {
  color: #000;
}
